<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.administrator.yzzf">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:name=".Util.Application"
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105945257"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>

        <activity
            android:name=".Activity.XiangQingActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".Activity.MeiRiJingXuanActivity"
            android:parentActivityName=".Activity.MainActivity">

        </activity>

        <activity
            android:name=".Activity.WDZLActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.WDHYActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.WDTZActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ZNXActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.YSSZActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.XTXXActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.HaoYouZiLiaoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ZNXAllActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.BKSYActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.SouSuoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.FaTieActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.TestActivity"/>
        <activity
            android:name=".Activity.WDDDActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ShangPinActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.TiJiaoDingDanActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>